<div class="container">
  <section class="shop-head">
    <div class="shop-head-container">
      <div class="shop-head-content">
        <h1 class="title">{{ global.product.name }}</h1>
        <p style="margin-bottom: 15px">Product</p>
        <a href="/" style="color: #fff;">Home</a>
      </div>
    </div>
  </section>

  <section class="zg-pdetail is-flex is-flex__space-between is-padding-25" style="height: 580px; background-color: #fff">
    <div class="zg-pdetail--images" style="width: 55%, padding: 25px, display: flex">
      <div style="width: 80%; display: flex; flex-direction: column; justify-content: center">
        <img width="inherit" height="auto" src="/" />
      </div>

      <div class="zg-pdetail--variant" style="display: flex; flex-direction: column; width: 20%; justify-content: center">
        <img width="inherit" src="/" />
        <img width="100%" src="/" />
      </div>
    </div>

    <div class="zg-pdetail--detail" style="width: 45%; padding: 20px 40px 20px 0">
      <div class="zg-pdetail--title">
        <h2>{{ global.product.name }}</h2>
        <div style="color: #d2a637; font-size: 14px; margin-top: 15px;">
          <span style="text-decoration: line-through;">{{ global.product.sale_price }} vnd</span>
          <strong style="font-size: 18px; text-decoration: none!important">
            {{ global.product.price }} vnd
          </strong></div>
        <div style="padding: 20px 0 30px; border-top: 1px solid #eeeeee; border-bottom: 1px solid #eeeeee; margin-top: 20px; font-size: 12px">
          {{ global.product.description }}
        </div>
        <div style="padding: 20px 0px; border-bottom: 1px solid #eeeeee">
          <div style="font-color: #77a464; font-size: 12px; margin-bottom: 15px">In Stock</div>
          <div>
            <span
              class="is-clickable"
              style="padding: 6px 10px; border-radius: 25px; background-color: #4666a3; color: #fff; font-size: 13px">
              <i class="fa fa-shopping-cart" aria-hidden="true"></i> Add to cart
            </span>
            <span style="border-radius: 50%; margin-left: 10px; padding: 6px 8px; background-color: #f2f2f2"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
          </div>
        </div>

        <div style="padding: 20px 0; border-bottom: 1px solid #eeeeee; font-size: 12px">
          <div>CATEGORIES:
            {% for category in global.product.categories %}
              <span>{{ category.name }}, </span>
            {% endfor %}
          </div>
          <div>TAG: Armchair</div>
        </div>

        <div style="padding: 35px 0; border-bottom: 1px solid #eeeeee; font-size: 12px">
          <div>
            <span style="margin-right: 20px">SHARE: </span>

            <span style="padding: 7px 11px; border-radius: 50%; background-color: #4666a3; color: #fff; margin-right: 10px">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </span>

            <span style="padding: 7px 9px; border-radius: 50%; background-color: #4666a3; color: #fff; margin-right: 10px">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </span>

            <span style="padding: 7px 9px; border-radius: 50%; background-color: #4666a3; color: #fff; margin-right: 10px">
              <i class="fa fa-google" aria-hidden="true"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="is-flex is-horizontal-res" style="background-color: #fff; margin: 30px auto; padding: 30px">
    <div style="width: 20%; padding: 15px">
      <span style="color: #d2a637">Description</span>
    </div>

    <div style="width: 80%; padding: 15px">
      {{ global.product.additional_info }}
    </div>
  </section>
</div>

{% schema %}
  {
    "name": "Product",
    "settings": []
  }
{% endschema %}
